<ion-header>
  <ion-navbar color="primary">
    <ion-title>Product Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-6>


        <button ion-button float-right (click)="vProduct()" *ngIf="!ver" >Verify Product</button>
        <button ion-button float-right (click)="uProduct()" *ngIf="ver" >Unverify Product</button>
  
        <ion-card>
          <ion-card-content>

            <ion-item>
              <p item-start ion-text color="primary">Product Name</p>
              <p item-end>{{prod.Name}}</p>
            </ion-item>


            <ion-item>
              <p item-start ion-text color="primary">Category</p>
              <p item-end>{{prod.Category}}</p>
            </ion-item>

            <ion-item>
              <p item-start ion-text color="primary">Quantity</p>
              <p item-end>{{prod.Quantity}}</p>
            </ion-item>



            <ion-item>
              <p item-start ion-text color="primary">Sales</p>
              <p item-end>{{prod.Sales}}</p>
            </ion-item>


            <ion-item>
              <p item-start ion-text color="primary">Status</p>
              <p item-end>{{prod.Status}}</p>
            </ion-item>


            <ion-item>
              <p item-start ion-text color="primary">Product Added Date</p>
              <p item-end>{{prod.TimeStamp | date : 'medium'}}</p>
            </ion-item>


            <!-- <ion-item>
        <p item-start ion-text color="primary"></p>
        <p item-end>{{prod.}}</p>
      </ion-item> -->




          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card>
          <ion-card-content>
            <img [src]="prod.ImageUrl" />
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="prod.key" >
          <ion-card-content>
            <button ion-button float-right (click)="viewBar()">Print</button>
            <ngx-qrcode [qrc-value]="prod.key"></ngx-qrcode>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>