<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{product.Name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <button ion-button float-right (click)="pBar()">
    <ion-icon name="md-print" padding-right></ion-icon>
    Print
  </button>

  <ion-grid>
    <ion-row>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>

      <ion-col col-3>
        <ion-card *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
          <p text-center>{{product.Name}}</p>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>



</ion-content>